@font-face {
    font-family: "GothamNarrowBlack";
    src: url("GothamNarrow-Black.eot");
    src: url("GothamNarrow-Black.woff") format("woff"),url("GothamNarrow-Black.ttf") format("truetype"),url("GothamNarrow-Black.svg#GothamNarrow-Black") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering:optimizeLegibility
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size:16px;
	background-image:url('Header-9.jpg');
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	min-height:90vh;
}

.admin {
	min-height:calc(100vh - 30px);
}

.login-form label, .message, p, .table {
	color:#fff;
}

.table {
	max-width:100%;
}
.message {
	margin-top:20px;
}
tr.rounds, tr.user-rows {
	cursor:pointer;
}

tr.rounds:hover, tr.user-rows:hover, tr.active {
	color:#38ff8e;
}

.login-form .form-control {
	background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #38ff8e;
    border-radius: 0px;
    color:#fff;
    padding-left:0px;
    font-family: 'Nunito Sans', sans-serif;
}

.login-form .form-control:focus {
	box-shadow: initial;
}

.bingocard label::selection {
	background: initial;
}

h1, h2, h3, h4 {
	color:#38ff8e;
	font-family: "GothamNarrowBlack";
	word-break: break-word;
}

p, .container {
	font-family: 'Nunito Sans', sans-serif;
}

.bingocard .vakje {
	font-size:24px;
	font-weight:700;
	position:relative;
	padding-top:15%;
	justify-content:center;
	align-content: center;
	width:20%;
	height:20%;
	display:flex;
	transition: background-color 100ms ease-in;
	background-color: #fff;
}

.bingocard .vakje {
	border:2px solid #141430;
}

.bingo-row {
	color:white;
	font-size:35px;
	font-family: 'GothamNarrowBlack', sans-serif;
}

.bingocard .wrapper-bingo .bingo {
	justify-content: space-around;
	max-width: calc(100vh - 160px);
	margin:auto;
	min-width:250px;
}

.bingocard .wrapper-bingo > .pinch {
	background-color: #141430;
	background-image: url('pinch.svg');
	background-size:80% auto;
	background-position:center;
	background-repeat: no-repeat;
	flex-direction:column;
	max-width: calc(100vh - (100px + 10vh));
	max-height: calc(100vh - (100px + 10vh));
	width:100%;
	border:2px solid #fff;
	margin:auto;
	min-width:250px;
	min-height:250px;
	height:415px; /*set initial height*/
}

.player.bingocard .vakje:hover, .player.bingocard label:hover {
	cursor:pointer;
}

.bingocard label {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: 0px;
    line-height: 0px;
}

.bingocard .checkbox {
	opacity:0;
}

.bingocard .vakje.bg {
	background-color:transparent;
	transition: background-color 300ms ease-out;
	color:white;
	border:2px solid transparent;
}

.bingocard .vakje.bg-bingo {
	color:#38ff8e;
}

.bingocard #bingo-joker.vakje.bg {
	filter:brightness(100);
}

.bingocard .submit.hide {
	display:none;
}

.bingocard .submit {
	margin-top:50px;
	max-width: 100vh;
}
.wrapper-bingo {
	position:relative;
}

.background-grid {
	position:absolute;
	top:0;
	z-index:-1;
}

.btn-primary, .btn-secondary {
	cursor: pointer;
    text-decoration: none;
    color: #141430;
    text-align: center;
    background-color: #38ff8e;
    border-radius: 21px;
    padding: 7px 20px 5px 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.5s;
    font-family: "GothamNarrowBlack", sans-serif;
    border:0px;
    margin-top:20px;
    min-width:200px;
}
.btn-secondary {
	background-color:transparent;
	border:1px solid #38ff8e;
	color:#38ff8e;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled):active {
	box-shadow: 1px 0px 22px #38ff8e;
	background-color:transparent;
	border:1px solid #38ff8e;
	color:#38ff8e;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
	box-shadow: 1px 0px 22px #38ff8e;
	background-color: #38ff8e;
	color: #141430;
	border:0px;
}

#bingo-joker label {
	content: url('star.svg');
	width:50%;
	height:50%;
	position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.margin-top {
	margin-top:10vh;
}

.admin .row {
	margin:30px auto;
}

.admin .row.buttons {
	border-bottom:1px solid #38ff8e;
	border-top:1px solid #38ff8e;
	margin-top:30px;
	padding-top:10px;
}

.admin .row.title div[class^='col-'], .admin .row.title div[class*='col-'] {
	margin-bottom:10px;
}

.admin div[class^='col-'], .admin div[class*='col-'] {
	margin-top:10px;
	margin-bottom:40px;
}

@media (min-width: 1200px) {
.admin.container {
    max-width: 1140px;
    }
}

@media (min-width: 1600px) {
.admin.container {
    max-width: 1440px;
    }
}

@media (min-width: 1800px) {
.admin.container {
    max-width: 1600px;
    }
}

@media (max-width: 768px) {
	.bingocard .vakje {
		font-size:16px;
	}
}




